/*============== PRODUCTOS ===============*/
.background{
    background-color: #333333;
}

.grid-prod{
    display: grid;
    grid-template-columns: repeat(3, 26vw);
    grid-template-rows: 27vw 27vw;
    gap: 10px;
}

.fig-prod{
    width: 26vw;
    height: 21vw;
}

.prod{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.prod h3 {
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-terciario);
    font-size: var(--text-size-small);
    font-weight: 100;
}

.color-title{
    color: var(--color-terciario);
}

